# Git
.git
.gitignore
README.md

# Node.js (Frontend)
frontend/node_modules
frontend/npm-debug.log
frontend/.next
frontend/.env*.local
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.vite/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Misc
*.tmp
*.temp
*.log
